.projects {
  background: #1f172c;
  min-height: calc(100vh);
  padding-top: 0px;
}

.projects .sub-text-1 {
  color: #f9f2fc;
  text-align: center;
  font-family: Satoshi;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 50px; /* 137.5% */
  letter-spacing: -0.8px;
}

.projects .sub-text-2 {
  text-align: center;
  font-family: Zodiak;
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  line-height: 70px; /* 137.5% */
  letter-spacing: -3.2px;

  background: linear-gradient(172deg, #fd5200 0%, #99dfff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 50px;
}

.project-card {
  border-radius: 20px !important;
  overflow: hidden;

  margin-bottom: 50px;

}

.project-card img {
  object-fit: cover; /* Maintain the image aspect ratio while covering the container */
  height: 300px;
}

.projects .down-arrow {
  margin: 0 auto;
}

.project-card .card-description {
  height: 60px;
}

.projects .arrow-wrapper {
  width: fit-content;
  margin: 80px auto;
  margin-top: 50px;
}

@media (max-width: 767.98px) {
  .project-card {
    margin-bottom: 60px;
  }

  .projects .sub-text-1,
  .projects .sub-text-2{
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 10px;
  }

  .project-card {
    width: 90vw;
    margin: 0 auto;

    margin-bottom: 50px;
  }

  .project-card img {
    height: 200px;
  }
}
