.fixed-header-container {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  background: #8d43ce;
  z-index: 100;
}

.fixed-header {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;

  padding: 25px 10px;
  float: right;
}

.fixed-header a {
  text-decoration: none;

  color: #f9f9f9;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */

  /* display: flex; */
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;

  cursor: pointer;

  
}

.fixed-header a:hover {

}

.fixed-header a:active {
  
}

.fixed-header ul {
  list-style: none;
}

@media (max-width: 767.98px) {
  .fixed-header {
    display: none;
  }
}
